:root {
	--color-background-1: rgb(71 51 62);
	--color-background-2: rgb(240 236 236);
	--color-background-3: rgb(246 245 245);
	--color-background-4: rgb(255 255 255);
	--color-background-dark: rgb(50 34 43);
	--color-background-light-gray: rgb(236 237 238);
	--color-background-accent: rgb(12 121 151);
	--color-text-1: rgb(41 45 50);
	--color-text-2: rgb(175 175 175);
	--color-text-light: rgb(255 255 255);
	--color-text-dark: rgb(19 34 56);
	--color-text-primary: rgb(71 51 62);
	--color-text-secondary: rgb(105 116 132);
	--color-brand: rgb(16 173 216);
	--color-brand-hover: rgb(15 143 178);
	--color-accent-1: rgb(255 94 94);
	--color-accent-2: rgb(170 235 152);
	--color-accent-3: rgb(9 196 65);
	--border-radius-sm: 5px;
	--border-radius-md: 8px;
	--border-radius-lg: 10px;
	--border-radius-xl: 20px;
	--font-family: "Inter", sans-serif;
	--second-font-family: "Nunito", sans-serif;
	--third-font-family: "Roboto", sans-serif;
	--fourth-font-family: "Plus Jakarta Sans", sans-serif;
	--z-index-low: 10;
	--z-index-medium: 100;
	--z-index-high: 1000;
	--container-max-width: 1440px;
	--header-height-md: 64px;
	--header-height-lg: 74px;
	--header-height: 110px;
}
